* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

/* COMMON (DUNG CHUNG) */
.content{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.header{
    background: #E6F0FF;
    height: 100vh;
}
.navbar{
    display: flex;
}